html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  background-image: url("../images/background.jpg");
  background-color: #cccccc;
  background-size: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f4f8fa;
    color: black;
}

.logged-user{
    color: white;
}